VITE_API_URL=http://localhost:5000/api

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

EMAIL_SERVICE=gmail
SMTP_USER=your.business@gmail.com
SMTP_PASS=your_16_char_app_password

PUBLIC_APP_URL=http://localhost:5000